body {
  background: #fff;
}

h1,
h2,
h3 h4,
h5,
h6 {
  margin: 0 !important;
}

a,
button,
div,
li,
ul {
  transition: all .2s ease;
}

p {
  color: #8e8e8e;
  font-size: .9em;
  line-height: 1.8em;
}
